<h1>A random number</h1>

 <form action="/random_results">
    <label for="users_number">Minimun</label>
    <input id="zebra" type="text" name="min_input">

    <label for="users_number">Maximim</label>
    <input id="bin" type="text" name="max_input">

  <button>P ick random number</button>
</form>
