<h1>A random number</h1>

 <form action="/random_result">
    <label for="users_min_num">Minimum</label>
    <input id="users_min_num" type="text" name="user_min">

    <label for="users_max_num">Maximim</label>
    <input id="users_max_num" type="text" name="user_max">

  <button>Pick random number</button>
</form>
