<h1>Calculate the square root of a number</h1>

 <form action="/square_root_result">
    <label for="users_number">Enter a number</label>
  
    <input id="zebra" type="text" name="users_number">

  <button>Calculate square root </button>
</form>
